body {
    background-color: black;
}

.left-sidebar {
    background-color: #171717;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 250px;
    height: 800px;
    text-align: left;
    padding-bottom: 160px;
    
}


.left-sidebar > .margins > .middle-margin  {
    justify-content: space-around;
    border-bottom: solid #fff000;
    border-top: solid #00ff00;
}

.left-sidebar img {
    width: 90%;
    margin-top: 12px;
}

.margins > .bottom-margin > .word {
    display: flex;
}

.margins > .bottom-margin > .word h3 {
    padding-right: 5px;
    height: 8px;
}

.margins > .bottom-margin > .word h4 {
    background-color: #fff000;
    color: black;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    border-radius: 2px;
}

.flex > .left-sidebar > .margins > .bottom-margin img {
width: 90%;
margin: 4%;
}

.flex > .left-sidebar > .margins > .bottom-margin p {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
    }
    